@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;1,100&family=Rubik+80s+Fade&family=Rubik+Puddles&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(70deg , rgba(174, 255, 130, 0.176) 40% , rgba(41, 217, 173, 0.18) 60%);
    width: 100%;
    height: 100vh;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Rubik 80s Fade', cursive;
    font-family: 'Rubik Puddles', cursive;
}
input {
    content: "";
    width: 300px;
    height: 20px;
    border: none;
}
.inpValue {
    margin-right: 30px;
}   
.Find-sector {
    margin: 40px 0;
}
.Find-sector button {
    margin-top: 20px;
}